.Slider {
  display: block;
  background: white;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin-top: 1em;
  margin-bottom: 3px;
  cursor: ew-resize;
}

.Slider-border {
  stroke: #666;
  stroke-width: 1;
  fill: none;
}

.Slider-fill {
  stroke: none;
  shape-rendering: crispEdges;
  fill: #C1D2DC;
}

.Slider-axis-label {
  dominant-baseline: middle;
  alignment-baseline: middle;
  font-size: 0.7rem;
  fill: #999;
}
.Slider-axis-label.left {
  text-anchor: start;
}
.Slider-axis-label.right {
  text-anchor: end;
}


.Slider text {
  font-size: 0.8rem;
  dominant-baseline: middle;
  alignment-baseline: middle;
  text-anchor: middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
